<div class="event_boxes">
  <div class="event-box_header">
    <div class="event-title">
      店名
    </div>
    <div class="event-content-main">
      イベント内容
    </div>
    <div class="event-content_label">
      期間
    </div>
  </div>
</div>