.calendar_event_title{
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.event_day_titles {
  height: 50px;
}

.js-modal-button:hover{
  background-color: lightgray;
  margin-bottom: 3px;
  border-radius: 5px;
  text-align: center;
}

.change_month {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.change_month:hover{
  background-color: bisque;
  border-radius: 5px;
}