.login_main_view {
  width: 100%;
  min-height: calc( 100vh - 100px );
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
  background-color: rgba(242, 164, 9, 0.086);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login_main {
  width: 430px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.field {
  width: 400px;
  margin: 10px 0;
  border-bottom: 1px dotted black;
}

.login_form {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
}

.login_submit {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.signup_main_view {
  width: 100%;
  min-height: calc( 100vh - 100px );
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px 0 55px;
  background-color: rgba(242, 164, 9, 0.086);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: flex-start;
}

.user_edit_main_view {
  width: 100%;
  min-height: calc( 100vh - 100px );
  height: auto;
  display: flex;
  justify-content: center;
  padding: 30px 0 50px;
  background-color: rgba(242, 164, 9, 0.086);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: flex-start;
}

.user_edit_main {
  width: 430px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.signup_main {
  width: 430px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.signup_address {
  display: flex;

}

.signup_region {
  width: 125px;
  text-align: center;
  margin: 0 10px;
}

.signup_city {
  width: calc(100% - 125px);
  text-align: center;
}

.region_form {
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}

.city_form {
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}

.signup_form{
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}

@media (max-width: 599px) {
  .login_main_view {
    width: 100%;
    min-height: calc( 100vh - 100px );
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
    background-color: rgba(242, 164, 9, 0.086);
  }
  
  .login_main {
    min-width: 200px;
    width: 90%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .field {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px dotted black;
  }
  
  .login_form {
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 10px;
  }
  
  .login_submit {
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .signup_main_view {
    width: 100%;
    min-height: calc( 100vh - 100px );
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
    background-color: rgba(242, 164, 9, 0.086);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: flex-start;
  }
  
  .user_edit_main_view {
    width: 100%;
    min-height: calc( 100vh - 100px );
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0 50px;
    background-color: rgba(242, 164, 9, 0.086);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: flex-start;
  }
  
  .user_edit_main {
    min-width: 200px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .signup_main {
    min-width: 200px;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .signup_address {
    display: flex;
  
  }
  
  .signup_region {
    width: 125px;
    text-align: center;
    margin: 0 10px;
  }
  
  .signup_city {
    width: calc(100% - 125px);
    text-align: center;
  }
  
  .region_form {
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
  }
  
  .city_form {
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
  }
  
  .signup_form{
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
  }
}