.login_main_view {
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: image-set('back_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login_main {
  width: 450px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.field {
  width: 400px;
  margin: 10px 0;
  border-bottom: 1px dotted black;
}

.login_form {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
}

.login_submit {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.signup_main_view {
  width: 100%;
  height: calc( 100vh - 100px );
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background-image: image-set('back_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.user_edit_main_view {
  width: 100%;
  height: calc( 100vh - 100px );
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-image: image-set('back_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.user_edit_main {
  width: 430px;
  height: 570px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.signup_main {
  width: 430px;
  height: 520px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

.signup_address {
  display: flex;

}

.signup_region {
  width: 125px;
  text-align: center;
  margin: 0 10px;
}

.signup_city {
  width: calc(100% - 125px);
  text-align: center;
}

.region_form {
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}

.city_form {
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}

.signup_form{
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
}