.layer {
  position: relative;
}



/* モーダルコンテンツ */
.modal {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
  min-width: 440px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background-color: aqua;
}

.modal__inner {
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);/* モーダルにシャドウをかける */
  border-radius: 13px; /* モーダルの角を丸める */
  border: 2px solid lightgray;
  display: block;
  padding: 10px 8px 10px;
  height: auto;
}

.modal__content {
  padding-top: 15px;
  padding-bottom: 23px;
  font-size: 20px;
}

.modal__button-wrap {
  position: absolute;
  right: 10px;
  top: -28px;
  display: inline-flex;
}

.close-button {
  position: relative;
  width: 39px;
  height: 39px;
  background: orange;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  cursor: pointer;
}

.close-button span {
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: calc(50% - 12px);
  top: 50%;
  border-radius: 20px;
}

.close-button span:nth-child(1) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.close-button span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}


.layer.is-open .modal{
  opacity: 2;
  visibility: visible;
  position: absolute;
  top: -220px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .layer {
    position: relative;
  }
  /* モーダルコンテンツ */
  .modal {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 360px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: aqua;
  }
  
  .modal__inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);/* モーダルにシャドウをかける */
    border-radius: 13px; /* モーダルの角を丸める */
    border: 2px solid lightgray;
    display: block;
    padding: 10px 8px 10px;
    height: auto;
  }
  
  .modal__content {
    padding-top: 15px;
    padding-bottom: 23px;
    font-size: 20px;
  }
  
  .modal__button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
  }
  
  .close-button {
    position: relative;
    width: 39px;
    height: 39px;
    background: orange;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
  }
  
  .close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
  }
  
  .close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  
  
  .layer.is-open .modal{
    opacity: 2;
    visibility: visible;
    position: absolute;
    top: -220px;
  }
}

@media (max-width: 599px) {
  .layer {
    position: fixed;
    left: 0;
    top: 400px;
  }
  /* モーダルコンテンツ */
  .modal {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 360px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: aqua;
  }
  
  .modal__inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);/* モーダルにシャドウをかける */
    border-radius: 13px; /* モーダルの角を丸める */
    border: 2px solid lightgray;
    display: block;
    padding: 10px 8px 10px;
    height: auto;
  }
  
  .modal__content {
    padding-top: 15px;
    padding-bottom: 23px;
    font-size: 20px;
  }
  
  .modal__button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
  }
  
  .close-button {
    position: relative;
    width: 39px;
    height: 39px;
    background: orange;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
  }
  
  .close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
  }
  
  .close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  
  
  .layer.is-open .modal{
    opacity: 2;
    visibility: visible;
    position: absolute;
    top: -220px;
  }
}

